{% extends 'base.html.twig' %}

{% block title %}Réservation ZenCar
{% endblock %}

{% block body %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
	

	<link rel="stylesheet" href="{{ asset('css/reservationStyles.css') }}">


	<div id="reservation-test-container" class="container">
		{{ form_start(form) }}

		<header>
			<h1>Réservez votre trajet avec
				<span>ZenCar</span>
			</h1>
			<p>ZenCar est votre partenaire de confiance pour un service de qualité.</p>
		</header>

		<div class="tabs">
			<button class="tab-button active" data-tab="tab1" data-step="1">Réservation</button>
			<button class="tab-button" data-tab="tab2" data-step="2">Véhicules</button>
			<button class="tab-button" data-tab="tab3" data-step="3">Récapitulatif</button>
		</div>
		{% include 'reservation/tab1.html.twig' %}
		{% include 'reservation/tab2.html.twig' %}
		{% include 'reservation/tab3.html.twig' %}


	</div>



	<div class="form-group">
		{{ form_widget(form.typeVehicule, {
            'type': 'hidden',
            'attr': {
                'id': 'reservation_typeVehicule'
            }
        }) }}
	</div>

	{{ form_widget(form.duree) }}
	{{ form_widget(form.distance) }}
	{{ form_widget(form.prix) }}



	{{ form_end(form, {'render_rest': false}) }}


	<script>
		window.HERE_API_KEY = "{{ here_api_key }}";
	</script>

	<!--script de l'affichage de la map -->
	<script src="https://js.api.here.com/v3/3.1/mapsjs-core.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-service.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-ui.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js" type="text/javascript" charset="utf-8"></script>
	<script src="{{ asset('/js/autocomplete.js') }}"></script>
	<script src="{{ asset('/js/ui.js') }}"></script>
	<script src="{{ asset('/js/reservation.js') }}"></script>
	<script src="{{ asset('/js/map.js') }}"></script>
	<script src="{{ asset('js/main.js') }}"></script>

{% endblock %}
